{
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "singleQuote": true,
  "jsxSingleQuote": true
}
